<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-label> Bienvenido {{nombre}}</ion-label>
</ion-item>
<ion-card>
<ion-item>
  <ion-button expand="block" class="primary" (click)="irperfil()"> <ion-icon name="person-outline"></ion-icon>Perfil</ion-button>

</ion-item>
<ion-item>
  <ion-button expand="block" color="warning" (click)="ircontactos()"> <ion-icon name="people-outline"></ion-icon>Contactos</ion-button>
</ion-item>
</ion-card>
</ion-content>
