<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Contacto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<ion-item>
  <ion-input label="Nombre" [(ngModel)]="txt_nombre" type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Apellido"  [(ngModel)]="txt_apellido" type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Telefono"  [(ngModel)]="txt_telefono" type="text"></ion-input>

</ion-item>
<ion-item>
  <ion-input label="E-mail"  [(ngModel)]="txt_email"type="text" ></ion-input>

</ion-item>
<ion-button color="success" (click)="actualizar()"> Actualizar</ion-button>
<ion-button color="warning" (click)="cancelar()"> Cancelar</ion-button>
</ion-content>
