<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Agenda </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label class="titulo"> Bienvenidos</ion-label>
    </ion-item>
    <ion-item>
      <img src="assets/img/agendaicon.png" style="
          display: block;
          width: 50%;
          height: auto;
          margin-left: auto;
          margin-right: auto;
        " />
    </ion-item>
    <ion-item>
      <ion-label class="etiqueta"> Agenda Electronica</ion-label>
    </ion-item>
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-title class="etiqueta">Inicio de Sesion</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="txt_usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Clave</ion-label>
          <ion-input type="password" [(ngModel)]="txt_clave"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button id="cargando" expand="block" color="succes" (click)="loggin()">Iniciar Sesion</ion-button>
        </ion-item>
        <ion-item>
          <table width="100%" cellspacing="0" cellPadding="0">
            <tr>
              <td witdh="50%">
                <span class="opciones"(click)="register()">Registrar </span>
              </td>
                <td witdh="50%">
                  <span class="opciones" (click)="recuperar()"> Recuperar Clave</span>
                </td>
            </tr>
          </table>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-loading trigger="cargando" message="Cargando...." duration="1000"></ion-loading>
</ion-content>